
// Base colors
$white: #fff;
$pale-grey: #fffff9;
$off-white: #f7f7f2;
$marine-blue: #003b66;
$lipstick-red: #cc0e25;
$dark-grey: #35352f;

// Secondary colors
$warm-grey: #a18a7c;
$grey-blue: #76a2bb;
$neon-red: #ff122f;
$salmon-pink: #ff7b83;

// Main colors in use
$color__text: $dark-grey;
$color__background-body: $white;

// General page elements
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #ffedc4;
$color__border-abbr: currentColor;

// Used for focused screen-reader-text, should be high-contrast.
$color__text-screen: $color__text;
$color__background-screen: $pale-grey;
