// Better rendering for light text on dark background
@mixin light-on-dark() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin uppercase( $sizeValue: false, $letterSpace: 1 ) {
	@if ( $sizeValue ) {
		@include font-size( $sizeValue );
	}
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: $letterSpace * 1px;
	line-height: $font__line-height--uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin button {
	display: inline-block;
	padding: spacing(0) spacing(2);
	font-family: $font-button;
	font-weight: 700;
	@include font-size( $font__size--body );
	color: $white;
	background-color: $blue;
	border: none;
	border-radius: 6px;
	transition: all 0.1s ease-in-out;
	@include light-on-dark;

	@include hover-state {
		color: $cream;
		background-color: $grey;
	}

	&:focus {
		outline: none;
	}
}

@mixin button-outline {
	display: inline-block;
	padding: spacing(0) spacing(2);
	font-family: $font-button;
	@include uppercase( $font__size--body, 1.67 );
	color: $red;
	background-color: transparent;
	border: 2px solid $red;
	border-radius: 12px;

	@include hover-state {
		color: $cream;
		background-color: $red;
	}
}
