input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text;
	border: 2px solid $color__text;
	border-radius: $size__border-radius--small;
	// 13 is a better padding than the spacing rhythm gives us.
	padding: 13px spacing(1);

	&:focus {
		@include dotted-outline;
	}
}

textarea {
	width: 100%;
}
