/* stylelint-disable selector-class-pattern */
.wcb_widget_sponsors {

	.widget-title {
		margin: 0 0 spacing(4);
		@include uppercase( $font__size--level-1, 0 );
		font-weight: 900;
		color: $dark-grey;
		text-align: center;
	}

	.sponsor-level-title {
		margin: 0 0 spacing(0);
		@include font-size( $font__size--level-2 );
		font-weight: 700;
		color: $marine-blue;
		letter-spacing: 0;
		text-transform: none;
		text-align: center;
	}

	.sponsor-logo.sponsor-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: spacing(2) spacing(1);
		background-color: $off-white;

		img {
			max-height: 100px;
		}
	}

	.sponsor-level {
		display: grid;
		grid-gap: spacing(1);
		margin-bottom: spacing(4);

		&.diamond {
			grid-template-columns: repeat(2, 1fr);

			.sponsor-level-title {
				grid-column: 1 / span 2;
			}
		}

		&.platinum {
			grid-template-columns: repeat(3, 1fr);

			.sponsor-level-title {
				grid-column: 1 / span 3;
			}
		}

		&.gold {
			grid-template-columns: repeat(4, 1fr);

			.sponsor-level-title {
				grid-column: 1 / span 4;
			}
		}

		&.silver {
			grid-template-columns: repeat(5, 1fr);

			.sponsor-level-title {
				grid-column: 1 / span 5;
			}
		}
	}
}
