#wcus-hero {
	position: relative;
	margin-left: calc(50% - 50vw);
	padding: spacing(5) 0 spacing(8);
	width: 100vw;
	max-width: none;
	background: url("#{$hero-image}") no-repeat center;
	background-size: cover;

	.wcus-hero__circle {
		background: $blue;
		border-radius: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		width: 580px;
		height: 580px;
		margin: 0 auto;
	}

	.wcus-hero__circle-small {
		position: absolute;
		box-shadow: 0 1px 10px rgba($dark-brown, 0.5);
		border-radius: 100%;
	}

	.wcus-hero__logo {
		background: $cream url("#{$logo-badge}") center no-repeat;
		background-size: 75% 75%;
		width: 230px;
		height: 230px;
		top: -69px;
		left: -28px;
	}

	.wcus-hero__message {
		@include light-on-dark;
		color: $white;
		text-align: center;
		line-height: 1.375;

		h2 {
			margin-top: spacing(2);
			@include font-size(4.8);
			color: $white;
		}

		p {
			margin: spacing(2) 0 0;
			@include font-size(3.2);
		}
	}

	.wcus-hero__signup {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include uppercase(1.8);
		text-align: center;
		text-decoration: none;
		width: 160px;
		height: 160px;
		right: 0;
		bottom: 0;
		background: $red;
		color: $white;

		span::before {
			content: url("#{$icon-pencil--big}");
			display: block;
			padding-bottom: spacing(0);
		}
	}

	&::after {
		content: "";
		background: url("#{$bottom_wave}");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center bottom;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 140px;
		z-index: 2;

		@media (min-width: $breakpoint-huge) {
			background-size: 100% 140px;
		}
	}

	@media (max-width: $breakpoint-small) {

		.wcus-hero__circle {
			width: 380px;
			height: 380px;
		}

		.wcus-hero__logo {
			width: 180px;
			height: 180px;
		}

		.wcus-hero__signup {
			width: 120px;
			height: 120px;
			@include font-size(1.4);

			span::before {
				padding-bottom: spacing(0)/2;
			}
		}

		.wcus-hero__message {

			h2 {
				@include font-size(3.2);
			}

			p {
				margin-top: 0;
				@include font-size(2.4);
			}
		}
	}
}
