.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

#header-widgets {
	width: 100vw;
	margin-left: calc(50% - 50vw);

	#header-widget-1 {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-bottom: 0;
		position: relative;
		overflow: hidden;

		.widget_media_image {
			height: 100%;
			overflow: hidden;
		}

		.widget_media_image > img {
			width: auto;
			height: auto;
			max-width: 1000%;
			min-height: 100%;
			min-width: 100vw;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1;
		}

		@supports ( object-fit: cover ) {

			.widget_media_image > img {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				transform: none;
			}
		}


		img {
			display: block;
			width: 100%;
		}

		&::after {
			content: "";
			background: url("#{$bottom_wave}");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 140px;
			z-index: 2;

			@media (min-width: $breakpoint-huge) {
				background-size: 100% 140px;
			}
		}
	}
}

#wcus-hp-widgets {
	margin: spacing(5) auto spacing(6);
	position: relative;
	z-index: 3;

	.wcus-hp-logo,
	.wcus-hp-signup {
		position: absolute;
	}

	.wcus-hp-logo {
		content: url("#{$logo-badge}");
		max-width: 230px;
		top: -69px;
		left: -28px;
	}

	.wcus-hp-signup {
		@include font-size(1.8);
		background: $red;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		padding: 45px;
		box-shadow: 0 1 10 #561315;
		border-radius: 100%;
		right: 0;
		bottom: 0;

		&::before {
			content: url("#{$icon-pencil--big}");
			display: block;
		}
	}

	.wcus-hp-circle {
		background: $blue;
		border-radius: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		width: 580px;
		height: 580px;
		margin: 0 auto;
	}

	.wcus-hp-message {
		color: $white;
		padding: 20px 50px;
		text-align: center;
		line-height: 1.375;

		h2 {
			@include light-on-dark;
			@include font-size(4.8);
			color: $white;
			margin-top: 0;
		}

		p {
			@include light-on-dark;
			font-family: $font-header;
			font-weight: 700;
			@include font-size(3.2);
			margin: 20px auto 0;
			max-width: 420px;
		}
	}
}

#footer-widget-1 {
	margin: spacing(4) 0;

	.textwidget {
		text-align: center;
	}
}

#footer-widget-3 {

	.widget_media_image {

		img {
			width: 210px;
			height: 15px;
		}
	}

	.jetpack_widget_social_icons {
		margin-top: spacing(1);

		@media (min-width: $breakpoint-medium) {
			text-align: right;
			margin-top: -27px; // Height of logo.
		}
	}
}

#footer-widget-4 {

	.widget_text {
		text-align: right;

		p {
			margin: 0;
		}
	}

	a {
		text-decoration: none;
		font-weight: 700;
	}
}

.site-info {
	display: none;
}

@import "subscribe";
@import "social-links";
@import "nav-menu";
