.entry-content {

	.wp-block-button {

		.wp-block-button__link {
			@include button;
		}

		&.is-style-outline .wp-block-button__link {
			@include button-outline;
		}

		&.is-style-squared .wp-block-button__link {
			border-radius: 0;
		}
	}
}

hr {
	border-bottom: 4px dotted $light-brown;
	background: transparent;
	border-style: dotted;
	border-color: $light-brown;
	border-image: url("#{$sep-dots}");
	border-image-slice: 4 4 4;
	border-image-width: 0 0 4px;
	border-image-repeat: round;
	margin: 3.75em 0;

	&.wp-block-separator {

		&.is-style-dots {

			&::before {
				content: url("#{$sep-dots-sparkles}");
				padding-left: 0;
			}
		}

		&.is-style-wide {
			background-image: url("#{$sep-wide-sparkles}");
			background-repeat: no-repeat;
			background-position: center center;
			border-width: 0;
			height: 72px;
			margin: 40px 0;
			position: relative;

			&::before,
			&::after {
				content: "";
				border-bottom: 3px dotted $light-brown;
				border-style: dotted;
				border-color: $light-brown;
				border-image: url("#{$sep-dots}");
				border-image-width: 4px;
				border-image-slice: 2;
				border-image-repeat: round;
				position: absolute;
				top: calc(50% - 2px);
				width: calc(50% - 75px);
			}

			&::after {
				right: 0;
			}
		}
	}

}
