table {
	margin: 0 0 1.5em;
	width: 100%;
}

#tix {
	width: 100vw;
	margin-left: calc(50% - 50vw);
	max-width: $size__width--main;

	@media (min-width: $size__width--main) {
		width: $size__width--main;
		margin-left: 50%;
		transform: translateX(-50%);
		max-width: none;
	}
}

tr {

	th:first-child,
	td:first-child {
		padding-left: 0;
	}

	th:last-child,
	td:last-child {
		padding-right: 0;
		text-align: right;

		&.tix-right {
			text-align: left;
			line-height: 2;
		}
	}
}

.tix-left {
	font-weight: 700;
}

.tix_tickets_table {
	border: 4px dotted $light-brown;
	border-left-width: 0;
	border-right-width: 0;
	border-collapse: inherit;
	border-spacing: inherit;
}

thead {
	text-align: left;
}

td,
th {
	padding: 1em 1.5em;
}

td {
	border-top: 1px solid rgba($light-blue, 0.2);
}

.tix-ticket-form input[type="text"],
.tix-ticket-form input[type="email"],
.tix-ticket-form input[type="url"],
.tix-ticket-form textarea,
.tix-private-form input[type="text"],
.tix-private-form input[type="email"],
.tix-private-form input[type="url"],
.tix-private-form textarea,
.tix-attendee-form input[type="text"],
.tix-attendee-form input[type="email"],
.tix-attendee-form input[type="url"],
.tix-attendee-form textarea,
.tix-receipt-form input[type="text"],
.tix-receipt-form input[type="email"],
.tix-receipt-form input[type="url"],
.tix-receipt-form textarea {
	width: 100%;
}

select {
	height: 40px;
	background-color: $white;
}

#tix-coupon-link {
	@include button-outline;
	text-decoration: none;
	border-color: $gray;
	color: $gray;

	@include hover-state {
		border-color: $red;
		color: $red;
	}
}

#tix-coupon-container {

	&::before {
		content: "Coupon Code";
		margin-right: 60px;
	}

	#tix-coupon-input {
		width: calc(100% - 330px);
	}
}
