.page-navigation-container {
	text-align: right;
	line-height: $font__line-height--header;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			position: absolute;
			top: $size__height--nav;
			left: -999em;
			z-index: 99999;
			text-align: left;
			background-color: $white;
			padding: spacing(0) 0;
			border: 1px solid rgba($grey-blue, 0.2);
			border-top: none;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 280px;
				padding: spacing(0)/2 40px spacing(0)/2 spacing(0);
				background-image: none !important;
				border-left: 3px solid transparent;
			}

			:hover > a::after {
				content: "";
				position: absolute;
				top: spacing(1)/2;
				right: spacing(1);
				display: block;
				width: 16px;
				height: 16px;
				transform: rotate(-90deg);
				background: url("#{$icon-arrow-down-hover}") no-repeat center;
			}

			.focus > a {
				border-left: 3px solid currentColor;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $lipstick-red;
			background-image: url("#{$icon-underline-hover}");
		}

		&.menu-item-has-children:hover > a::after,
		&.menu-item-has-children.focus > a::after {
			background-image: url("#{$icon-arrow-down-hover}");
		}
	}

	a {
		display: block;
		padding: 25px #{ spacing(2) / 2};
		font-family: $font-button;
		font-weight: 700;
		color: $marine-blue;
		text-decoration: none;

		background-repeat: no-repeat;
		background-size: 100% 3px;
		background-position: bottom center;

		&:focus {
			outline: none;
		}
	}

	.menu-item-has-children > a::after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-left: spacing(0);
		width: 16px;
		height: 1em;
		background: url("#{$icon-arrow-down}") no-repeat center;
	}

	.callout > a {
		@include button;
		margin-left: spacing(1);
	}

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current-menu-ancestor {

		> a {
			color: $dark-grey;
			background-image: url("#{$icon-underline-current}");
		}

		&.menu-item-has-children > a::after {
			background-image: url("#{$icon-arrow-down-current}");
		}
	}
}

/* Small menu. */
.page-navigation-container.toggled-on ul {
	display: block;
}

.menu-toggle,
.dropdown-toggle {
	display: none;
}

.js .menu-toggle,
.js .dropdown-toggle {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

	.page-navigation-container ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
