.comments-area {
	margin: spacing(3) auto 0;
	max-width: $size__width--post;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-form {

	label {
		display: block;
	}

	input {
		width: 66%;
	}

	.comment-form-cookies-consent {

		label {
			display: inline;
		}

		input {
			width: 16px;
			height: 16px;
			margin-right: spacing(0);
		}
	}

	.form-submit {

		input {
			width: auto;
		}
	}
}
