.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.posted-on a {
	display: inline-block; /* Remove unwanted whitespace; see https://stackoverflow.com/a/10203529/450127 */
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page,
.single {

	.entry-header {
		background: $blue;
		color: $white;
		margin-bottom: $size__height--wave;
		margin-left: calc(50% - 50vw);
		max-width: none;
		padding: spacing(5) spacing(2) spacing(4);
		position: relative;
		text-align: center;
		width: 100vw;

		@media (min-width: $breakpoint-huge) {
			margin-bottom: $size__height--wave-huge;
		}

		@media (max-width: $breakpoint-mobile) {
			margin-bottom: $size__height--wave-small;
		}

		&::after {
			content: "";
			background: url("#{$short_wave}") no-repeat top;
			background-size: contain;
			position: absolute;
			left: 0;
			bottom: -$size__height--wave;
			height: $size__height--wave;
			width: 100vw;

			@media (min-width: $breakpoint-huge) {
				bottom: -$size__height--wave-huge;
				height: $size__height--wave-huge;
			}

			@media (max-width: $breakpoint-mobile) {
				bottom: -$size__height--wave-small;
				height: $size__height--wave-small;
			}
		}

		.entry-title {
			@include font-size( $font__size--header );
			margin: 0 auto;
			max-width: $size__width--post;
			width: 100%;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em auto 0;
	max-width: $size__width--post;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
