#tix {

	.tix-submit {

		.tix-checkout-button {
			@include button;
		}
	}
}

form[action*="tix_action=attendee_info"] {
	max-width: $size__width--main;

	@media (min-width: $size__width--post) {
		max-width: calc(100vw - #{spacing(2) * 2});
		margin-left: calc((#{$size__width--post + (spacing(2) * 2)} - 100vw) / 2);
	}

	@media (min-width: $size__width--main) {
		width: $size__width--main;
		max-width: none;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

.tix_tickets_table {
	border: 4px dotted $light-brown;
	border-left-width: 0;
	border-right-width: 0;
	border-collapse: inherit;
	border-spacing: inherit;

	tbody {

		.tix-column-description {
			@media (min-width: $breakpoint-small) {
				display: block;
				width: 100%;
			}
		}
	}

	.tix-ticket-excerpt {
		display: block;
		max-width: $size__width--post;
		color: rgba($color__text, 0.8);
	}

	.tix-column-price {
		text-align: right;
		font-weight: 700;
	}

	.tix-column-quantity {

		select {
			min-width: 4em;
		}
	}

	.tix-column-remaining {
		display: none;
	}
}

.tix-left {
	font-weight: 700;
}

.tix-order-summary {
	margin-bottom: spacing(4);
}

.tix-attendee-form {

	tbody tr th {
		text-align: left;
		font-family: $font-header;
		@include font-size( $font__size--level-3 );
		line-height: 1.3;
		font-weight: 900;
	}

	td {
		border: none;
		vertical-align: middle;
	}
}

.tix-ticket-form,
.tix-private-form,
.tix-attendee-form,
.tix-receipt-form {

	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea,
	select {
		width: 100%;
	}

	select {
		width: 100%;
		height: 57px;
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin-right: 0.5em;
	}
}

#tix-coupon-link {
	@include button-outline;
	text-decoration: none;
	border-color: $gray;
	color: $gray;

	@include hover-state {
		border-color: $red;
		color: $red;
	}
}

#tix-coupon-container {

	&::before {
		content: "Coupon Code";
		color: $grey;
		font-weight: 400;
		margin-right: 60px;
	}

	#tix-coupon-input {
		width: calc(100% - 330px);
	}
}

.tix-row-coupon {
	font-weight: 700;

	strong {
		color: $red;
	}
}

.tix-payment-method {

	.tix-payment-tab.tix-tab-selected {
		border: none;
		text-align: right !important;
	}
}
